.custom-carousel {
    width: 100%;
    max-width: 700px;
    height: 40vh;
    min-height: 260px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.10);
    padding: 0;
    background: #fff;
    margin: 24px auto 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-carousel-img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: block;
}

.content.card {
    flex: 0 0 80%;
    min-height: 65vh;
}

.book-info.card {
    flex: 0 0 calc(20% - 1rem);
    min-height: 65vh;
}